.element__open{
  display: flex;
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.element__open:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 1s;
}