.header__auth-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}

.header__auth-link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .header__auth-link {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 400px) {
  .header__auth-link {
    font-size: 14px;
    line-height: 17px;
  }
}
