.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100%;
}

.profile__image:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 1s;
}

@media screen and (max-width: 1000px) {
  .profile__image {
    margin: 0 auto 0 auto;
    width: 128.75px;
    height: 127.75px;
  }
}
