.header__auth-info {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
  gap: 24px;
  padding: 0px;
}

@media (max-width: 600px) {
  .header__auth-info {
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .header__auth-info {
    font-size: 14px;
    line-height: 17px;
    display: none;
  }
}
